* {
    font-family: 'Acme', sans-serif;
}

/* MAIN MENU */
#main-menu {
    width: 50%;
    height: 100%;
    background: #eee;
    position: absolute;
    left: 25%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.main-menu-title {
    width: 100%;
    border-bottom: 2px solid grey;
    text-transform: uppercase;
    font-size: 45px;
    color: coral;
    font-weight: bold;
    padding: 10px;
}

.main-menu-option {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 50%;
}

.main-menu-btn {
    height: 15%;
    width: 100%;
    color: #fff;
    border: 0;
    margin: 15px;
    font-size: 25px;
    display: block;
    border-radius: 3px;
    text-decoration: none;
    background-color: crimson;
    text-transform: uppercase;
}

.simpleButton {
    height: 15%;
    width: 45%;
    color: #fff;
    border: 0;
    margin: auto;
    padding: 10px;
    font-size: 25px;
    display: block;
    border-radius: 3px;
    text-decoration: none;
    background-color: crimson;
    text-align: center;
    text-transform: uppercase;
}

.simpleButton:hover {
    background: rgb(172, 79, 79);
    cursor: pointer;
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}

.main-menu-btn:hover {
    background: rgb(172, 79, 79);
    cursor: pointer;
}

.game-options {
    display: flex;
    flex-flow: row wrap;
    flex: 1 auto;
    width: 100%;
    justify-content: space-between;
}

/* RULES MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
    height: 100%;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}


.rules-modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;  /* Auto for left and right because we want it in the center */
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    font-size: 20px;
    animation-name: fadeIn; 
    animation-duration: 1s;
}

.modal-header h2, .modal-footer h3 {
    margin: 0;
}

.modal-header {
    background: coral;
    padding: 15px;
    color: #fff;
}

.modal-body {
    padding: 10px 20px;
}

.modal-footer {
    background: coral;
    padding: 15px;
    color: #fff;
    text-align: center !important;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
    color: #fff;
}

.closeBtn:hover , .closeBtn:focus {
      cursor: pointer;
      color: #000;
      text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* MEMORY GAME PAGE CSS */

.title {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.info {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.center {
    text-align: center;
}

table {
    margin: 0px auto;
    min-height: 100%;
}

.game-wrapper {
    width: 50%;
    height: 100%;
    background: #eee;
    position: absolute;
    left: 25%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.game-content {
    margin-top: 5%;
}

#cards_cont {
    display: flex;
    width: 50vw;
    min-height: 50vh;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: -80px;
    
}

.card {
    width: 7vw;
    height: 15vh;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: coral;
}

.card_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animation: showImage;
    animation-duration: .25s;
    border-radius: 4px;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: top center;
}

@keyframes showImage {
    0% {
        opacity: 0;
        transform: rotateY(180deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }

}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#game-over {
    font-weight: bold;
    text-transform: uppercase;
    color: red;
    text-align: center;
}

#winner {
    font-weight: bold;
    text-transform: uppercase;
    color: green;
    text-align: center;
}

#play_again {
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

#match {
    font-weight: bold;
    text-transform: uppercase;
    color: green;
    text-align: center;
}
@media screen and (max-width: 1366px) {
    .game-wrapper {
        height: 102vh;
    }

    #cards_cont {
        height: 25vh;
    }
}

@media screen and (max-width: 1000px) {

    #main-menu {
        width: 100%;
        height: 100%;
        background: #eee;
        position: absolute;
        left: 0%;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    }

    .game-wrapper{
        width: 100%;
        left: 0%;
        background-color: #eee;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    }

    #cards_cont {
        display: flex;
        flex-flow: row-wrap;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .card {
        width: 15vw;
        height: 15vh;
    }
    .card_img {
        width: 100%;
        height: 100%;
    }
}
